    <div class="container" style="padding-top: 60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <p>I am a student enrolled in Seneca College, studying Computer Programming (CPP).</p>
            <p>My goal is to pursue a career in cloud computing industry.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Please wait for updates in the near future.</p>
        </aside>
      </div>
    </div>